.contact {
  width: 100%;
  .mg-auto();
  padding-top: 154px;
}

.contact__wrapper--adress h2 {
  .reset();
  .mg-auto();
  padding-bottom: 30px;
  .font-base(@fontName;normal;600;30px;30px);
  text-align: center;
  letter-spacing: -0.005em;
  color: #1f1f1f;
}

.contact__wrapper--adress p {
  width: 555px;
  .mg-auto();
  padding-bottom: 35px;
  .font-base(@fontName;normal;normal;17px;31px);
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.contact__wrapper--adress {
  width: 66.51%;
  .mg-auto();
  display: flex;
  flex-direction: column;
}

.contact__map {
  width: 66.46%;
  height: 33em;
  .mg-auto();
  background: url("../img/rectangle6@desktop1x.png") no-repeat #ffffff;
  background-size: cover;
}

.contact__wrapper--link {
  padding: 38px 0 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact__container {
  max-width: 320px;
  margin: 0 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contact__container a {
  margin: 0 10px;
  .font-base(@fontName;normal;normal;16px;32px);
  text-decoration-line: none;
  color: rgba(0, 0, 0, 0.5);

  &--mail a {
    .font-base(@fontName;normal;normal;16px;22px);
  }

  &:hover {
    color: rgba(0, 0, 0, 1);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.contact__icon {
  &--mail {
    width: 26px;
    height: 20px;
  }

  &--phone {
    width: 21.5px;
    height: 22.6px;
    fill: #ffffff;
  }

  &:hover {
    fill: #25f5e0;
  }

  &:active {
    fill: #09ab9b;
  }
}

@media (max-width: 768px) {
  .contact {
    padding: 70px 4.56% 0;
  }

  .contact h2 {
    padding-bottom: 18px;
    .font-base(@fontName;normal;600;24px;30px);
  }

  .contact p {
    width: 100%; /*555px;*/
    padding-bottom: 20px;
  }


  .contact__wrapper--adress {
    width: 100%;
  }

  .contact__map {
    width: 99.86%;
    height: 34.2em;
    .mg-auto();
    background: url("../img/rectangle6@tablet1x.png") no-repeat #ffffff;
    background-size: cover;
  }

  .contact__wrapper--link {
    padding: 14px 0 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .contact__container {
    margin: 0 5.46%;
    justify-content: center;
  }

  .contact__icon--phone {
    margin-right: 15px;
  }

  .contact__icon--mail {
    margin-right: 10px;
  }
}

@media (max-width: 700px) {
  .contact__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .contact__container {
    margin: 0 0;
  }
}

@media (max-width: 320px) {
  .contact {
    padding: 72px 0 0;
  }

  .contact h2 {
    padding-bottom: 20px;
    .font-base(@fontName;normal;600;18px;30px);
  }

  .contact p {
    width: 82.2656%;
    padding-bottom: 20px;
  }

  .contact__wrapper--adress {
    width: 100%;
  }

  .contact__map {
    width: 100%;
    height: 15.6em;
    .mg-auto();
    background: url("../img/rectangle6@mobile1x.png") no-repeat #ffffff;
    background-size: cover;
  }

  .contact__wrapper--link {
    padding: 30px 0 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact__wrapper a {
    margin: 0 20px;
    .font-base(@fontName;normal;normal;16px;22px);
    text-decoration-line: none;
    color: rgba(0, 0, 0, 0.5);
  }

  .contact__container {
    .reset();

    margin: 0 0 20px 14px;
  }

  .contact__icon--phone {
    margin-right: -10px;
  }

  .contact__icon--mail {
    margin-right: -10px;
    letter-spacing: -0.1px;
  }
}
