.form-selection {
  width: 100%;
  padding: 18.0778vw  19.6% 16.6167vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2.0833vw;
}

.form-selection__wrapper {
  display: flex;
  flex-direction: column;
}

.form-selection__wrapper--promo {
  width: 44.66%;
}

.form-selection__wrapper--promo h1 {
  width: 100%;
  .reset();
  margin-top: 0.6333em;
  .font-base(@fontNameBold;normal;bold;3.19vw;4.44vw);
  letter-spacing: -0.005em;
  color: #ffffff;
}

.form-selection__wrapper--promo p {
  width: 99.4885%;
  .reset();
  margin-top: 1.3em;
  .font-base(@fontName;normal;300;1.38889vw;2.2222vw);
  letter-spacing: -0.6px;
  color: #ffffff;
  opacity: 0.8;
  mix-blend-mode: normal;
}

.form-selection__wrapper--form {
  width: 37.26%;
}

.form-selection__wrapper--form p {
  width: 100%;
  .reset();
  margin-bottom: 1.38889vw;
  .font-base(@fontName;normal;600;1.1806vw;1.9444vw);
  letter-spacing: -0.045em;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
}

.form-selection__wrapper--form input {
  width: 100%; /*327*/
  height: 48px;
  .reset();
  margin-bottom: 1.38889vw;
  padding-left: 9.1743%;
  .font-base(@fontName;normal;normal;1.0417vw;1.6667vw);
  letter-spacing: -0.005em;
  color: #1c1c1c;
  background-color: #ffffff;
  border: 1px solid #c9ccd4;
  border-radius: 4px;
  outline-color: #9096a6;
  cursor: pointer;

  &:active {
    color: #000000;
  }
}

.form-selection__btn {
  display: block;
  width: 99.6942%;
  height: 51px;
  .reset();
  .font-base(@fontName;normal;600;1.0417vw;1vw);
  align-items: center;
  text-align: center;
  color: #000000;
  background: #0ad9c6;
  border: none;
  border-radius: 6px;
  outline: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    transition: 0.5s;
    background: #25f5e0;
  }

  &:active {
    background: #09ab9b;
  }
}

@media (max-width: 768px) {
  .form-selection {
    flex-direction: column;
    align-items: center;
    .reset();
    margin: 9.475vw 0 0;
    padding-bottom: 9.4146vw;
    font-size: 3.9063vw;
  }

  .form-selection__logo {
    display: none;
  }

  .form-selection__wrapper--promo {
    width: 100%;
    align-items: center;
    justify-content: center;
    .reset();
    padding: 0 15.76% 0;
    margin-bottom: 150px;
  }

  .form-selection__wrapper--promo h1 {
    width: 100%; /* 525px;*/
    margin-top: 0;
    .font-base(@fontNameBold;normal;bold;30px;42px);
    text-align: center;
  }

  .form-selection__wrapper--promo p {
    width: 91.4571%;
    margin-top: 2.6041vw;
    .font-base(@fontName;normal;300;18px;32px);
    text-align: center;
  }

  .form-selection__wrapper--form {
    width: 100%;
    padding: 0 28.867% 0;
    align-items: center;
    justify-content: center;
  }

  .form-selection__wrapper--form p {
    min-width: 280px;
    max-width: 327px;
    margin-bottom: 28px;
    .font-base(@fontName;normal;600;18px;28px);
    color: #000000;
  }

  .form-selection__wrapper--form input {
    min-width: 280px;
    max-width: 321px;
    padding-left: 6.542%;
    margin-bottom: 2.6042vw;
    .font-base(@fontName;normal;normal;15px;24px);
  }

  .form-selection__btn {
    min-width: 280px;
    max-width: 321px;
    .font-base(@fontName;normal;600;15px;21px);
  }
}

@media (max-width: 320px) {
  .form-selection {
    width: 100%;
    .reset();
    margin-top: 58px;
    margin-bottom: 30px;
    padding: 0 5% 0;
  }

  .form-selection__wrapper--promo {
    width: 100%;
    align-items: center;
    justify-content: center;
    .reset();
    margin-bottom: 140px;
  }

  .form-selection__wrapper--form {
    width: 100%;
    align-items: center;
    justify-content: center;
    .reset();
    margin-bottom: 40px;
  }

  .form-selection__wrapper--promo h1 {
    width: 100%;
    padding-bottom: 12px;
  }

  .form-selection__wrapper--promo p {
    width: 100%;
  }

  .form-selection__wrapper--form p {
    min-width: 100%;
    height: 84px;
    margin-bottom: 20px;
  }

  .form-selection__wrapper--form input {
    width: 100%;
    padding-left: 26px;
    margin-bottom: 20px;
  }

  .form-selection__btn {
    width: 100%;
  }
}
