.header {
  position: relative;
}

.header__logo {
  position: absolute;
  display: none;
  width: 67.6px;
  height: 20.28px;
}

.header-backimg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  overflow: hidden;
}

.header-backimg img {
  min-width: 100%;
}


@media (max-width: 1023px) {
  .header__logo {
    left: 22px;
    top: 25px;
    display: block;
  }
}

@media (max-width: 767px) {
  .header__logo {
    left: 17px;
    top: 25px;
  }
}
