.video {
  position: relative;
  width: 100%;
  padding-top: 6.9444%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.0833vw;
  background: linear-gradient(#131314 87.72%, white 13.88%);
  color: #ffffff;
}

.video h2 {
  .reset();
  max-width: 90%;
  padding: 1.636% 5% 0;
  .font-base(@fontName;normal;600;30px;30px);
  align-items: center;
  letter-spacing: -0.005em;
}

.video p {
  width: 27%;
  padding: 0 10px 2.8888%;
  .font-base(@fontName;normal;300;16px;28px);
  text-align: center;
  letter-spacing: -0.005em;
  opacity: 0.7;
}

.video__wrapper {
  width: 64.51%;
  height: 17.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/video-bike@desktop1x.jpg") no-repeat #131314;
  background-size: cover;
  background-position: center;
}

.video__btn {
  width: 65px;
  height: 65px;
  background: url("../img/play.svg") no-repeat #0ad9c6;
  background-position: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;

  &:hover {
    background: url("../img/play.svg") no-repeat #25f8e0;
    background-position: center;
  }

  &:active {
    background: url("../img/play.svg") no-repeat #09ab9b;
    background-position: center;
  }

  &:focus {
    outline: 3px solid #cccccc;
    outline-style: inset;
  }
}

@media (max-width: 768px) {
  .video {
    padding-top: 50px;
    font-size: 3.9063vw;
    background: linear-gradient(#131314 82.72%, white 13.88%);
    color: #ffffff;
  }

  .video h2 {
    .reset();
    margin: 18px 0 4px;
    .font-base(@fontName;normal;600;24px;30px);
  }

  .video p {
    width: 59.2406%;
    padding-bottom: 26px;
  }

  .video__wrapper {
    width: 65.4948%;
    height: 9.4em;
    display: flex;
    background: url("../img/video-bike@desktop1x.jpg") no-repeat #131314;
    background-size: contain;
    background-position: center;
  }

  .video__btn {
    width: 90.36px;
    height: 90.36px;
  }
}

@media (max-width: 320px) {
  .video {
    width: 100%;
    padding: 70px 0 0;
    background: linear-gradient(#131314 88.52%, white 13.88%);
    color: #ffffff;
  }

  .video h2 {
    .reset();
    text-align: center;
    padding-top: 10px;
    letter-spacing: -0.015em;
  }

  .video p {
    width: 100%;
    .reset();
    padding: 22px 0 50px;
  }

  .video__wrapper {
    width: 90%;
    height: 13em;
    display: flex;
    background: url("../img/video-bike@desktop1x.jpg") no-repeat #131314;
    background-size: contain;
    background-position: center;
  }

  .video__btn {
    width: 65px;
    height: 65px;
  }
}
